.btn {
    background-color: $main-color;
    margin: 0 auto;
    height: 60px;
    width: 240px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 39px;
    text-transform: uppercase;
    text-align: center;
    line-height: 55px;
}